@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', serif;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.green {
  color: #cef988;
}
